<h2>Edit Book</h2>
<!--we no longer need to use multer or multipart form in the form here. cause it will be sent as a string representation of the image due to filepond-->
<form action="/books/<%= book.id  %>?_method=PUT" method="post">
    <%- include('_form_fields') %>

    <a href="/books">Cancel</a>
    <button type="submit">Update</button>
</form>
